header .logo img {
    width: auto;
    max-width: 900px;
    max-height: 500px;
  }

  .navbar {
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
  }
  
  .navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

 
  @keyframes stickyTransition {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  header .logo img {
    width: auto;
    max-width: inherit;
    max-height: 90px;
  }
  header .nav-link {
    display: inline-flex;
    justify-content: center;
    color: var(--light-black);
    padding: 0 1rem !important;
    font-size: 1.125rem;
    font-weight: 500;
    font-family: var(--oswald-font);
    text-transform: uppercase;
    -webkit-transition: all 15ms ease-in-out;
    -ms-transition: all 15ms ease-in-out;
    -o-transition: all 15ms ease-in-out;
    -moz-transition: all 15ms ease-in-out;
    transition: all 15ms ease-in-out;
  }
  header .cart {
    position: relative;
    top: -0.4375rem;
  }
 
  header .nav-link:hover {
    color: var(--yellow);
  }
  
  header .roundpoint {
    width: 16px;
    height: 16px;
    background: var(--light-red);
    border-radius: 50%;
    color: var(--yellow);
    font-size: 11.2px;
    line-height: 14px;
    text-align: center;
    font-style: normal;
    position: absolute;
    top: 3.2px;
    right: -8px;
  }
  
  /* Media Query CSS */
  
  @media (max-width: 1000px) {
    header .navbar {
      background-color: var(--white);
    }
  
    }
    header .nav-link {
      color: var(--light-black);
      padding: 1rem !important;
    }
  
